body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.navbar {
    padding: 15px;
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.home-bg {
    min-height: 100vh;
    background-image: url("/src/assets/ai.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auth-container {
    max-width: 350px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}