

.create-note {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
    align-items: center;
}

.create-left input,
.create-left textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.create-left textarea {
    min-height: 150px;
}

.actions {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.summary-box {
    background: #f0f4ff;
    padding: 10px;
    border-left: 4px solid #4a6cf7;
    margin: 10px 0;
}

.create-right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-wrapper {
  width: 100%;
  max-width: 350px;   
}

.image-wrapper img {
  width: 100%;      
  height: auto;
  display: block;
}

@media (max-width: 768px) {
    .create-note {
        grid-template-columns: 1fr;
    }

    .create-right {
        display: none;
    }
}